<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <property resource="properties/logback.properties"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%thread] %-5level %logger{60} %line - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
        <File>${logback.logdir}/${logback.appname}.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${logback.logdir}/${logback.appname}.%d{yyyy-MM-dd}.log.zip</FileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d [%thread] %-5level %logger{60} %line - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <!-- app logger -->
    <logger name="mystical.cup" level="DEBUG"/>

    <logger name="mystical.cup.dao.mapper" level="INFO"/>

    <!-- metric logger -->
    <logger name="jdbc.sqlonly" level="ERROR">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="jdbc.audit" level="ERROR">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="jdbc.resultset" level="ERROR">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="jdbc.connection" level="ERROR">
        <appender-ref ref="FILE"/>
    </logger>
    <logger name="jdbc.sqltiming" level="ERROR">
        <appender-ref ref="FILE"/>
    </logger>
</configuration>
