<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <classPathEntry location="mysql-connector-java-5.1.26-bin.jar" />

    <context id="brainDB" targetRuntime="MyBatis3">

        <commentGenerator>
            <property name="suppressDate" value="true" />
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://47.105.105.78:3306/cup" userId="root" password="Rzc123123." >
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="mystical.cup.model.database"
            targetProject="../../src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mystical.cup"
            targetProject="../../src/main/resources/mapper">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER"
            targetPackage="mystical.cup.dao.mapper" targetProject="../../src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>
        <!--<table tableName="http_statistics" domainObjectName="HttpStatistics"/>-->
        <table tableName="http_producer"  domainObjectName="HttpProducerMode"/>
        <!--<table tableName="http_producer_data" domainObjectName="HttpProducerData"/>-->
        <!--<table tableName="http_consumer_date" domainObjectName="HttpConsumerDate"/>-->
        <!--<table tableName="http_consumer" domainObjectName="HttpConsumer"/>-->
    </context>
</generatorConfiguration>